<h1>Edit hotel</h1>
<%= simple_form_for @hotel,:html => {:multipart => true} do |f| %>
<%= f.input :name, label: "Hotel name:" %>
    <%= f.select :destination_id, @destinations %>
    <%= f.select :city_id, @cities %>
    <%= f.file_field :hotel_img %>
<%= f.input :adress %>
<%= f.input :price %>
<%= f.input :description %>
<%= f.button :submit %>
<% end %>