<h1 class="current-destination"><%= params[:destination] %></h1>
  <h1 class="current-destination"><%= params[:city] %></h1>
<% if @hotels.count == 0 %>
      <h1>There are no hotels currently in this destination</h1>
<% else %>
    <div class="row">
        <% @hotels.each do |hotel| %>
            <div class="col-md-3">
              <a href="/hotels/<%= hotel.id %>"><%= image_tag hotel.hotel_img.url(:hotel_index), class: "hotel" %></a>
              <br>
              <h3><%= link_to hotel.name,hotel_path(hotel) %></h3>
            </div>
        <% end %>
    </div>

<% end %>
