<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
<div>

<a href=" <%= root_path %>" class="btn btn-danger btn-sm" role="button">Back</a>

</div>

<br>



<div class="row">
  <div class="col-sm-4" style="background-color:white;">
    <%= image_tag @hotel.hotel_img(:hotel_show),class:"hotel-show" %>
    <br>
    <% if user_signed_in? %>
        <% if @hotel.user_id == current_user.id %>
            <div class="dropdown">
              <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="<%= edit_hotel_path(@hotel)%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;Edit</span></a></li>
                <li><a href="<%=hotel_path(@hotel) %>"  data-confirm="Are you sure?" data-method="delete" data-original-title="Delete" rel="nofollow"><span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;Delete</span></a></li>
              </ul>
            </div>
        <% end %>
    <% end %>
  </div>


  <div class="col-sm-8" style="background-color:#f0f0f5;">
      <h2>Hotel <%= @hotel.name %>, <%= @hotel.city.name %>, <%= @hotel.destination.name %></h2>
      <p><%= @hotel.adress %></p>

    <h3>Average score</h3>
    <div class="average-review-rating" data-score=<%= @average_comment %>></div>
    <span>Calculated based on <%= @hotel.commentaries.count %> ratings.</span>

    <h4>Price: <span class="label label-success"><%= @hotel.price %> EUR/Night</span></h4>


    <div class="col-lg-6" style="background-color:#f0f0f5;">
      <h3>Services</h3>
      <% Hotelservice.all.each do |hservice| %>
          <% if hservice.hotel_id ==@hotel.id %>
              <p><%= Service.find(hservice.service_id).name %></p>
          <% end %>
      <% end %>
    </div>

    <div class="col-lg-6" style="background-color:#f0f0f5;">
      <h3>Landmarks</h3>
      <% Hotellandmark.all.each do |hlandmark| %>
          <% if hlandmark.hotel_id == @hotel.id %>
              <p><%= Landmark.find(hlandmark.landmark_id).name %></p>
          <% end %>
      <% end %>
    </div>


  </div>
</div>

<div class="row">
  <h2>Description:</h2>
  <p><%= @hotel.description %> </p>
</div>

<div class="row">
    <h3>General commentary</h3>
    <a href="<%= new_hotel_commentary_path(@hotel)%>" class="btn btn-info btn-sm" role="button">Add comment</a>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Score</th>
        <th>Comment</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <%= render @hotel.commentaries %>

      </tbody>
    </table>
</div>






<script>
    $('.star-rating').raty({
        path: '/assets/images/ratyrate',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>

<script>
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/images/ratyrate',
      score: function() {
      return $(this).attr('data-score')
  }
  });
</script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>