<!DOCTYPE html>
<html>
<head>
  <title>Hotels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">
      <%= link_to "Hotel portal", root_path, class: "navbar-brand"%>
    </div>

    <ul class="nav navbar-nav">

    </ul>


    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Destinations <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% Destination.all.each do |destination| %>
              <li class="<%= 'active' if params[:destination] == destination.name %>">
                <%= link_to destination.name, hotels_path(destination: destination.name)%>
              </li>
          <% end %>
        </ul>

      </li>

      <li class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cities <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% City.all.each do |city| %>
              <li class="<%= 'active' if params[:city] == city.name %>">
                <%= link_to city.name, hotels_path(city: city.name)%>
              </li>
          <% end %>
        </ul>

      </li>


      <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add hotel", new_hotel_path%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Sign In", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>

    </ul>




  </div>


</nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<div class="container">
      <%= yield %>
</div>


</body>
</html>
